<div class="container">  
  <section id="header">
    <div class="word-cycle-sentence">
    <h1>
      <span class="word-cycle">
        <span> words </span>
        <!-- <span> love </span>
        <span> diamonds </span>
        <span> honey </span>
        <span> the universe </span>
        <span> kittens(?) </span> -->
      </span>
      <span>
        may last forever.
      </span>
    </h1>
  </div>
    
    <h3>But that doesn't mean your messages have have to.</h3>
  </section>
</div>