<div class="container">  
  <section id="header">
    
    <section class="rw-wrapper">
      <h2 class="rw-sentence">
        <div class="rw-words">
          <span>The universe</span>
          <span>Diamonds</span>
          <span>Honey</span>
          <span>Words</span>
          <span>Love</span>
          <span>Kittens(?)</span>
        </div>
        <br>
        <span>may last forever.</span>
      </h2>
    </section>
    
    <h3>But that doesn't mean your messages have have to.</h3>
    
  </section>
</div>