<div class="container page-wrapper">  
  <div id="header">
    <section class="message-image">
      <i class="fa fa-comments fa-5x"></i>
      <br>
      <button class="btn-lg btn-primary">Sign Up</button>
      <button class="btn-lg btn-info">Guest Account</button>
    </section>
    <section class="rw-wrapper">
      <h2 class="rw-sentence">
        <div class="rw-words">
          <span>Friendship</span>
          <span>Diamonds</span>
          <span>Honey</span>
          <span>The universe</span>
          <span>Love</span>
          <span>Kittens</span>
        </div>
        <br>
        <span>may last forever.</span>
      </h2>
      <h3>
        <span>But that doesn't mean</span>
      
        <span>your messages have to.</span>
        </h3>
    </section>
    

  </div>
  
  <div id="features">
    <div class="row">
      <div class="col-md-4">

<i class="fa fa-eye-slash fa-5x"></i>
        <h2>Secure</h2>
        <p>Once opened, your messages are deleted permenantly from the server. Each message has its unique 128-bit ID, making your links virtually impossible to guess.</p>
      </div>
      <div class="col-md-4">
<i class="fa fa-mobile-phone fa-5x"></i>
        <h2>Accessible</h2>
        <p>Why limit your messages to your phone or just your computer? Snapmsgs are available on any device, anywhere.</p>
      </div>
      <div class="col-md-4">
<i class="fa fa-bolt fa-5x"></i>
        <h2>Ephemeral</h2>
        <p>Your Snapmsgs come and go, like a self-destructing spy gadget. Send messages and confirm that they've received your message (picture messages coming soon).</p>
      </div>
    </div>
  </div>
  
  <section id="home" data-type="background" data-speed="10" class="pages">     
           <span>“Extract the eternal from the ephemeral.”</span>
           <br>
           <span>― Charles Baudelaire</span>
      </section>   
     
  <div id="features">
<%= render "emailers/contactus", :@emailer => @emailer, action: :new %>
  </div>
</div>