<div class="container page-wrapper">  
  <div id="header">
    <section class="message-image">
      <i class="fa fa-comments fa-5x"></i>
      <br>
      <button class="btn btn-primary">Sign Up</button>
      <button class="btn btn-info">Guest Account</button>
    </section>
    <section class="rw-wrapper">
      <h2 class="rw-sentence">
        <div class="rw-words">
          <span>Friendship</span>
          <span>Diamonds</span>
          <span>Honey</span>
          <span>The universe</span>
          <span>Love</span>
          <span>Kittens</span>
        </div>
        <br>
        <span>may last forever.</span>
      </h2>
      <h3>
        <span>But that doesn't mean</span>
      
        <span>your messages have to.</span>
        </h3>
    </section>
    

  </div>
  
  <div id="features">
    <div class="row">
      <div class="col-md-4">

<i class="fa fa-eye-slash fa-5x"></i>
        <h2>Ephemeral</h2>
        <p>Once opened, your messages are deleted permenantly from the server. Each message has its UUID, making your links virtually unguessable.</p>
      </div>
      <div class="col-md-4">
<i class="fa fa-mobile-phone fa-5x"></i>
        <h2>Accessible</h2>
        <p>No smartphone? On the go? It doesn't matter. Our Snapmsgs are available to anyone and everyone.</p>
      </div>
      <div class="col-md-4">
<i class="fa fa-pencil fa-5x"></i>
        <h2>Heading</h2>
        <p>Message one </p>
      </div>
    </div>
  </div>
</div>