<ul class="msg-ul">
  <% messages.each(function (message){ %>
  <li class="msg-li">
    <h3 class="msg-li-title">      
        <tr class="msg-tr" id="<%= message.id %>">
          <% if (message.escape("opened") == "false") { %>
            <i class="fa fa-eye-slash"></i>
          <% } else { %>
            <i class="fa fa-eye"></i>
          <% } %>
          
      <%= message.escape("title") %>  
    </h3>
        
    <p class="msg-li-content"><%= message.escape("content") %>
    </p>

    <div class="msg-li-settings">
      <button type="button" class="btn btn-primary">Copy Link</button>
      <div class="btn-group">
        <button type="button" class="btn btn-primary">Settings</button>
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a class="" href="#">Edit Message</a></li>
          <li><a href="#">Delete Message</a></li>
        </ul>
      </div>
    </div>
        
  </li>
  <% }); %>
</ul>