<div class="msg-index-wrapper">
  <button class="new-msg btn btn-primary">New Message</button>
  <button class="refresh btn btn-info">Refresh</button>

  <div id="new_message"></div>
  <div id="show_messages"></div>
</div>