<div class="msg-index-wrapper">
  <div class="msg-index-buttons">
    <button class="new-msg btn btn-primary">New Message</button>
    <button class="refresh btn btn-info">Refresh</button>
  </div>

  <div class="msg-new-subview"></div>
  <div class="msg-show-subview"></div>
</div>