<h2> New Message </h2>

<form>
  <label for="message_title">Title:</label>
  <input id="message_title" type="text">
  <br>
  <label for="message_content">Content:</label>
  <!-- <input id="message_content" rows="10" col="20"></textarea> -->
  <input id="message_content" type="text">
  <br>
  <button id="cancel">Cancel</button>
  <input type="submit">
</form>