<div id="message-title">
  Title: 
  <%= message.get("title")%>
</div>

<div id="message-content">
  Content: 
  <%= message.get("content")%>
</div>
<div id='timer'>
</div>
<% var counter = message.get("timer"); %>
<% var interval = setInterval(function(){ %>
  <% if (counter == 0) { %>
    <% $('#message-title').empty(); %>
    <% $('#message-content').empty(); %>
    <% clearInterval(interval); %>
  <% } %>
    <% $('#timer').html("<div id='timer-countdown'>Counter: " + counter + "</div>")%>
    <%  counter--; %>
<%  }, 1000)%> 
  
