// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 50px;
}

.container {
  padding: 0;
  width: 100%;
  margin-top: -70px;
}
.navbar-default {
  background: rgba(248, 248, 248, 0.8);
}

section#header {
  background-color: rgb(103, 244, 164);
  height: 500px;
  text-align: center;
  padding-top: 250px;
  //  font-family: 'Bree Serif';
}

section#header > div,h3 {
  padding: 0%;
  color: white;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

.word-cycle-sentence {
float:left;
}

.word-cycle-sentence span {
  display: inline;
}



.word-cycle span {
  position: absolute;
  opacity: 1;
  overflow: hidden;
  width: 100%;
  float: right;
}

//.word-cycle span{
//  -webkit-animation: rotateWordsFirst 18s linear infinite 0s;
//  -moz-animation: rotateWordsFirst 18s linear infinite 0s;
//  -ms-animation: rotateWordsFirst 18s linear infinite 0s;
//  -o-animation: rotateWordsFirst 18s linear infinite 0s;
//  animation: rotateWordsFirst 18s linear infinite 0s;
//}
//.word-cycle span:nth-child(2) { 
//    -webkit-animation-delay: 3s; 
//}
//.word-cycle span:nth-child(3) { 
//    -webkit-animation-delay: 6s; 
//}
//.word-cycle span:nth-child(4) { 
//    -webkit-animation-delay: 9s; 
//}
//.word-cycle span:nth-child(5) { 
//    -webkit-animation-delay: 12s; 
//}
//.word-cycle span:nth-child(6) {  
//    -webkit-animation-delay: 15s; 
//}
//
//@-webkit-keyframes rotateWordsFirst {
//  0% { opacity: 1; -webkit-animation-timing-function: ease-in; height: 0px; }
//  8% { opacity: 1; height: 60px; }
//  19% { opacity: 1; height: 60px; }
//  25% { opacity: 0; height: 60px; }
//  100% { opacity: 0; }
//}
