$msg-index-width: 750px;

.msg-index-wrapper {
  //  text-align: center;
}

.msg-index-buttons {
  width: $msg-index-width;
  margin: auto;
}

.msg-show-subview {
  background-color: rgba(64, 255, 176, 1);
}

.msg-ul {
  padding: 100px 0 0 0;
  margin: 0;
}

.msg-li {
  width: $msg-index-width;
  display: block;
  //  border-radius: 25px;
  //  background-color: rgba(215,215,215,1);
  margin: 0 auto 20px auto;
}

//.msg-li-title {
//  margin-top: 15px;
//  font-size: 200%;
//}
//
//.msg-li-content {
//  margin-top: 15px;
//  margin-bottom: 30px;
//  font-size: 150%;
//}
//.msg-li-content, .msg-li-title {
//  margin-left: 30px;
//  text-align: left;
//  width: 100%;
//}
//
//.msg-li-settings {
//  background-color: gray;
//  border-bottom-left-radius: 25px;
//  border-bottom-right-radius: 25px;
//  height: 70px;
//  font-size: 50px;
//  text-align: right;
//  padding-right: 30px;
//  color: white;
//}

.msg-li-btns {
  float:right;
  font-size: 23px;
  margin-top: -3px;
}

.msg-li-btns i:hover {
  color: gray;
}

.refresh {
  float: right;
  clear: right;
}
.new-msg {
  float: left;
  clear: left;
}

.refresh, .new-msg {
  width: 150px;
  margin-top: 50px;
}

.msg-edit-form {
  padding-right: 0px;
  background-color: rgba(44, 62, 80, 1);
  cursor: pointer;
  padding: 0px 50px;
  border-radius: 5px;

}

$msg-edit-form-padding: 30px;

.msg-edit-legend {
  padding-top: $msg-edit-form-padding;
  color: white;
}

.msg-edit-btns {
  padding-bottom: $msg-edit-form-padding;
}
