$msg-index-width: 750px;

.msg-index-wrapper {
  //  text-align: center;
}

.msg-index-buttons {
  width: $msg-index-width;
  margin: auto;
}

.refresh {
  float: right;
  clear: right;
}
.new-msg {
  float: left;
  clear: left;
}

.refresh, .new-msg {
  width: 150px;
  margin-top: 50px;
}

.msg-show-subview {
  background-color: rgba(64, 255, 176, 1);
}

.msg-ul {
  padding: 100px 0 0 0;
  margin: 0;
}

.msg-li {
  width: $msg-index-width;
  display: block;
  //  border-radius: 25px;
  //  background-color: rgba(215,215,215,1);
  margin: 0 auto 20px auto;
}

.msg-li-btns {
  float:right;
  font-size: 23px;
  margin-top: -3px;
}

.msg-li-btns i:hover {
  color: gray;
}

.msg-li-timer {
  text-align: center;
  border-radius: 3px;
  display: inline-block;
  float: right;
  width: 35px;
  height: 35px;
  background-color: rgb(79, 79, 79);
  font-size: 25px;
  color: white;
  padding-right: 1px;
}

$msg-edit-form-padding: 30px;

.msg-edit-form {
  padding-right: 0px;
  background-color: rgba(44, 62, 80, 1);
  cursor: pointer;
  padding: 0px $msg-edit-form-padding;
  border-radius: 5px;
  color: white;
}

.msg-edit-legend {
  padding-top: $msg-edit-form-padding;
  margin-bottom: 0;
  color: white;
}

.msg-edit-btns {
  padding-bottom: $msg-edit-form-padding;
}

.msg-edit-label {
  margin-top: 15px;
  margin-bottom: 15px;
}

.msg-edit-form-group {
  margin: 0;
  padding: 0;
}

.msg-edit-btns {
  
}

.msg-li-btn-link.zeroclipboard-is-hover {
  color: rgb(109, 109, 109);
}