.msg-index-wrapper {
  text-align: center;
}

#show_messages {

}

.msg-ul {
  padding: 0;
  margin: 0;
}

.msg-li {
  width: 60%;
  display: inline-block;
  border-radius: 25px;
  background-color: rgba(215,215,215,1);
  margin-bottom: 20px;
}

.msg-li-title {
  margin-top: 15px;
  font-size: 200%;
}

.msg-li-content {
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 150%;
}
.msg-li-content, .msg-li-title {
  margin-left: 30px;
  text-align: left;
  width: 100%;
}

.msg-li-settings {
  background-color: gray;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  height: 70px;
  font-size: 50px;
  text-align: right;
  padding-right: 30px;
  color: white;
}

.msg-li-settings-edit-symbol {
  padding-right: 10px;
}

.refresh {
  float: right;
  margin-right: 20%;


}
.new-msg {
  float: left;
  margin-left: 20%;
}

.refresh, .new-msg {
  width: 7.5%;
  margin-bottom: 50px;
}

/*#show_messages{
width: 80%;
margin: auto;
}

.msg-ul {
border-radius: 25px;
background-color: rgb(215, 215, 215);
list-style-position: inside;
}

.msg-li {
padding-bottom: 10px;
}



.msg-table {
background-color: rgba(215,215,215,1);
border-radius: 15px;
}*/


