// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.alert {
  margin-bottom: 0;
}

.navbar {
  background: rgba(25, 11, 11, 0.8);
}

.navbar:hover {
  color: blue;
}

.navbar-brand {
  font-size: 375%;
}

.navbar-brand, .navbar-nav li a{
  line-height: 125px;
  height: 125px;
  font-size: 25px;
  padding-top: 0;
}

.navbar-toggle { 
  margin-top: 45px;
}

.magic-wand {
  color: black;
  opacity: .8;
}

//html override

html, body {
  height: 100%;
  background-color: #D8FFF3;
}

body {
  padding-top: 125px;
}

//

.home-title {
//  display: none;
font-family: 'Exo', sans-serif;
font-size: 500%;
}

.home-subtitle {
  padding: 10px 0;
}

.home-picture {
  opacity: 0.7;
}

.home-container {
  padding: 0;
  width: 100%;
  height: 100%;
  
}

.home-container-btns {
  margin-left: -40px;
}

.home-row-jumbo {
  background: url('/assets/bg00.jpg') 50% 0 repeat fixed;
  color: white;
  text-shadow: 1px 1px 2px #969696;
  padding-top: 100px;
  padding-bottom: 100px;
//  height: 700px;
  text-align: center;
  //  font-family: 'Bree Serif';
}

.fa-comments {
  font-size: 250px;
}

.btn-guest {
  background-color: #E24A93;
  border-color: #E24A93; 
}

.btn-guest:hover {

  background-color: #FA3392;
  border-color: #FA3392; 
}

.home-row-features {
  background-color: #FFF;
  margin: auto;
  text-align: center;
  width: 100%;
  padding: 50px 15%;
}

.home-row-features-col {
  font-size: 150%;
}

section.message-image {
  display: inline-block;
  padding-left: 10%;
}

.home-row-parallax { 
  background: url('/assets/bg1.jpg') 50% 0 repeat fixed;
  height: 400px;
  width: 100%;
  text-align: center;
  padding-top: 150px; //take font px off
//  position: relative;
}

.home-row-parallax span { 
  background-color: rgba(138, 97, 97, 0.6);
  display: inline;
  font-size: 50px;
  font-family: 'Bree Serif';
  color: rgb(255, 236, 236);
}

.home-highlight {
  color: rgb(241, 113, 113) !important;
//  display: inline-text;
}

form.new_emailer {
  text-align: center;
  font-size: 200%;
}

#new_emailer > div.field {
  padding-top: 15px;
}

div#contact-us {
  background-color: #FFF;
  height: 900px;
  margin-top: -21px;
}

div#contact-us h1 {
  text-align: center;
  padding-top: 50px;
}
 
div#contact-us input {
  
}

#new_emailer input, textarea {
  width: 50%;
  border-radius: 10px;
}

#new_emailer input.btn {
  width: 25%;
  margin-top: 25px;
}